PORT=8888
HOST=127.0.0.1
DATABASE_URL=

# firebase
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=

# api secret
SESSION_SECRET=

# database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
